{% extends 'home/base.html' %}
{% block body_class %}dark-mode{% endblock %}
{% block page_name %} HOME {% endblock %}
{% block content %}
<!-- status 정보 나타내는 부분-->
<div class="row">
    {% include 'home/components/status_box.html' %}
    {% include 'home/components/status_box.html' %}
    {% include 'home/components/status_box.html' %}
    {% include 'home/components/status_box.html' %}
    {% include 'home/components/status_box.html' %}
    {% include 'home/components/status_box.html' %}
</div>
<div class = "row">
    <section class = "col-lg-6 connectedSortable ui-sortable">
        {% include 'home/components/generation_graph.html' %}
        {% include 'home/components/weather_module.html' %}
    </section>
    <section class = "col-lg-4 connectedSortable ui-sortable">
        {% include 'home/components/home_cctv.html' %}
    </section>
    <section class = "col-lg-2 connectedSortable ui-sortable">
    </section>
</div>
{% endblock %}
