{% extends "home/base.html" %}
{% load i18n static %}

{% block body_class %}login-page{% endblock %}
{% block body %}
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <div class="text-center font-weight-bolder text-dark h4">
          <p>새로운 비밀번호 입력</p>
        </div>
        <p class="login-box-msg">새로운 비밀번호를 정확히 입력했는지 확인할 수 있도록<br/>두 번 입력하시기 바랍니다.</p>

        <form action="" method="post">
            {% csrf_token %}

            {% for field in form %}
            {% if field.errors %}
            <div class="alert alert-danger">
                {% for error in field.errors %}
                <span>{{error}}</br></span>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor%}

            {% for field in form %}
            <div class="input-group mb-3">
                <input type="password" class="form-control" name="{{field.name}}" id="{{field.id}}" placeholder="{{field.name}}" value="{{ field.value|default_if_none:'' }}" required>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
           {% endfor%}
            <div class="row mt-3 mb-3">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block font-weight-bold">비밀번호 초기화</button>
                </div>
            </div>
        </form>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
{% endblock %}
