{% extends "home/base.html" %}
{% load i18n static %}

{% block body_class %}login-page{% endblock %}
{% block body %}
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <div class="text-center font-weight-bolder text-dark h4">
          <p>비밀번호 초기화 성공<p>
        </div>
        <p class="login-box-msg">비밀번호가 초기화 되었습니다.</br>로그인 후 비밀번호를 변경해 주세요.</p>

        <div class="row">
          <div class="col-12">
              <a class="btn btn-primary btn-block font-weight-bold" href="{% url 'login:login' %}">로그인</a>
          </div>
          <!-- /.col -->
        </div>
    
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
{% endblock %}

