{% load i18n %}{% autoescape off %}
{% blocktrans %}{{ site_name }}에서 계정 비밀번호를 초기화 하기 위해 이 이메일을 전송했습니다.{% endblocktrans %}

{% trans "안녕하세요  " %}{{ user.get_username }} {% trans "님! " %}
{% trans "저희 사이트를 이용해 주셔서 감사합니다." %}
{% trans "아래의 링크를 통해 새로운 패스워드를 설정해 주세요 :" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'login:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "사용자 이름 : " %} {{ user.get_username }}

{% blocktrans %}{{ site_name }} Team{% endblocktrans %}

{% endautoescape %}
