{% extends "home/base.html" %}
{% load i18n static %}

{% block body_class %}login-page{% endblock %}
{% block body %}
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <div class="text-center font-weight-bolder text-dark h4">
          <p>비밀번호 초기화<p>
        </div>
        <p class="login-box-msg">
            계정에 등록된 이메일로</br>비밀번호를 설정하기 위한</br>안내 사항을 보냈습니다.</br>곧 메일을 받으실 것입니다.</br></br>
            만약 이메일을 받지 못하였다면,</br>등록하신 이메일을 다시 확인하시거나</br>스팸 메일함을 확인해주세요.
        </p>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
{% endblock %}
