{% load static %}
<div class="card">
    <div class = "card-header">
        <h3 class = "card-title">
            알림  
        </h3>
        <div class = "card-tools">
            <button type="button" class = "btn btn-tool">
                <a class="text-light" href="{% url 'alarm:alarm' %}">
                    더보기
                </a>
            </button>
        </div>
    </div>
    <div class = "card-body">
        <div class = "home-timeline-scroll">
            <div class = "timeline">
                <!-- 데이터 베이스 받아올 부분 (반복문으로 받아오면서 나타내기)-->
                {% for timeline in timelines%}
                <div>
                    <i class = "{{timeline.icon_class}} {{timeline.color}}"></i>
                    <div class="timeline-item mb-2">
                        <p class = "timeline-header col-12">
                            <span class="mr-2 text-bold text-light ">
                                {{timeline.title}}
                            </span>
                            <span class="time float-right">
                                <i class = "far fa-clock mr-1 small"></i>
                                {{timeline.time|date:'m/d H:i'}}
                            </span>
                        </p>
            
                        <div class="timeline-body">
                            {{timeline.content}}
                        </div>
                        {% if timeline.more_info %}
                        <div class = "timeline-footer">
                            <a href="{{timeline.herf}}"  >더보기 <i class="fas fa-arrow-circle-right ml-1"></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>