{% load static %}
<div class="card">
    <div class = "card-header">
            <h3 id = "Date" class = "card-title"></h3>
    </div>
    <div class = "card-body">
        <div id="ww_bac2dec2b4481" v='1.3' loc='id' a='{"t":"responsive","lang":"ko","sl_lpl":1,"ids":["wl7399"],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"#FFFFFF00","cl_font":"rgba(255,255,255,1)","cl_cloud":"rgba(173,181,189,0.5)","cl_persp":"rgba(173,181,189,1)","cl_sun":"rgba(173,181,189,1)","cl_moon":"rgba(173,181,189,1)","cl_thund":"rgba(173,181,189,1)","cl_odd":"#00000000","el_phw":3}'
        class = "pb-3 pt-1">
            Weather for the Following Location: 
            <a href="https://2ua.org/kor/cheongju/map/" id="ww_bac2dec2b4481_u" target="_blank">Cheongju map, South Korea</a>
        </div>
        <script async src="https://app1.weatherwidget.org/js/?id=ww_bac2dec2b4481"></script>
    </div>
</div>

<script>
    const Clock = document.getElementById("Date")

    function getClock () {
        var arrDay = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

        var mydate = new Date()
        var day = mydate.getDay()
        var year = mydate.getFullYear()
        var month = mydate.getMonth() +1
        var date = mydate.getDate()
        var hour = mydate.getHours()
        var minute = mydate.getMinutes()
        
        var blank = "&nbsp"
        for (i = 0; i<2;i++){
            blank += blank
        }

        var ampm = hour >= 12? "PM" : "AM"
        hour = hour %12
        hour = hour ? hour : 12

        month = String(month).padStart(2, "0")
        date = String(date).padStart(2, "0")
        hour = String(hour).padStart(2, "0")
        minute = String(minute).padStart(2, "0")

        Clock.innerHTML = year + "." + month + "." + date + blank + arrDay[day] + blank + hour + ":" + minute + ampm
    }

    getClock();
    setInterval ( getClock , 1000 );
</script>
