{% extends 'home/base.html' %}
{% load static %}
{% block style_sheets %}
<!-- Jcrop-->
<link rel="stylesheet" type="text/css" href="{% static 'admin-lte\plugins\cropper\cropper.min.css' %}">
{% endblock %}
{% block page_name %}CCTV 1 - 패널 위치 지정 {% endblock %}
{% block body_class %}dark-mode{% endblock %}
{% block content %}
<!-- Main content -->

<div class="row justify-content-md-center mb-3">
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <div class="img-container card-img">
                    <img id="cctvImage" src="{% static '\cctv_images\image_1.jpg' %}"  style="max-width: 100%;" alt="Picture" onClick="test()">
                </div>
            </div>
            <div class="card-footer">
                <div class="row text-center">
                    <div class="col border-right">
                        <a class="text-light" href="{% url 'cctv:cctv_setting' %}">패널 위치 지정 종료</a>
                    </div>
                    <div class="col">
                        <a class="text-light" href="{% url 'cctv:cctv_setting' %}">패널 자르기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">미리보기</h3>
            </div >
            <div class="card-body">
                <div class="img-container card-img">
                    <img id="cctvImagePreiew" src=""  style="max-width: 100%;" >
                </div>
            </div>
        </div>
    </div>
</div>


<!-- /.content -->
{% endblock %}


{% block extra_js %}
<script>
    // 페이지 로드시 자동실행
    $(window).ready(function () {
        let cctvImage = document.getElementById("cctvImage")
        let cctvImagePreiew = document.getElementById("cctvImagePreiew")


        // 모서리 점들의 초기 좌표
        let srcQuad = [[[267,163]],[[398,157]],[[571,354]],[[446,420]]]

        function ScoreUpdate() {
            alert("cctvImage.src:"+cctvImage.src)
            $.ajax({
                type: 'GET',
                url: "{% url 'cctv:testcropper' %}", // data를 전송할 url 입니다.
                data: {"img_src":cctvImage.src}, 
                success: function (response) { // ajax 통신이 정상적으로 완료되었을 때

                    alert(response.msg)

                    // let x = document.getElementsByClassName("value")[0]
                    // let segPer= document.getElementsByClassName("segPer")[0]
                    // x.innerText= response.score
                    // if (response.score > 50){
                    // 	segPer.innerText= response.score
                    // 	$('#myModal').modal('show')
                    // }
                    // else{
                    // 	$('#myModal').modal('hide')
                    // }
                }
            })
            alert("ajax 끝")
        }

        ScoreUpdate()
    });

    
    cctvImagePreiew.src="{% static 'cctv_images\image_3.jpg' %}"


    function test(){
        alert("현재 좌표는 " + event.offsetX + "/" + event.offsetY)
    }

</script>
{% endblock %} 
