{% extends 'home/base.html' %}
{% load static %}
{% block style_sheets %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="{% static 'admin-lte/plugins/tempusdominus-bootstrap-4/js/tempus-dominus-forCCTV.js' %}"></script>
<link rel="stylesheet" href="{% static 'admin-lte/plugins/tempusdominus-bootstrap-4/css/tempus-dominus-forCCTV.css' %}">
<!--
<script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css" rel="stylesheet" crossorigin="anonymous">
 -->
{% endblock %}


{% block page_name %}실시간 패널 오염 감지 CCTV{% endblock %}

{% block body_class %}dark-mode{% endblock %} {% block content %}
<div class="container-fluid">
	<!-- CCTV number -->
	<div class="row justify-content-md-center align-items-start mb-2">
			<div class="btn btn-info btn-sm"><i class="fas fa-chevron-left"></i></div>
			<h4 class="font-weight-bold mr-3 ml-3">CCTV 1</h4>
			<div class="btn btn-info btn-sm"><i class="fas fa-chevron-right"></i></div>
	</div>
	<!-- ./CCTV number -->
	<!-- time -->
	<div class="card p-2">
		<div class="row align-items-center">
			<div class="col">
				<input class="form-control clock " id="example" type="text" readonly/>
			</div>
			<div class="col-auto mr-2 ml-2">
				<div class="row mb-1">
					<div class="btn btn-outline-secondary btn-sm"><i class="fas fa-chevron-up"></i></div>
				</div>
				<div class="row">
					<div class="btn btn-outline-secondary btn-sm"><i class="fas fa-chevron-down"></i></div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.time -->
	<!-- cctv image & cctv detail info -->
	<div class="card-deck mb-3">
		<div class="col-8 h-100" id='cctvOriginalImage'>
				<img class="img-fluid" src="{% static 'cctv_images\image_1.jpg' %}">
		</div>
		<div class="col h-100">
			<div class="card" >
				<div class="card-header" id="cctvSegmentedHeader">
					<span>패널 상세보기</span>
					<a class="float-right text-white" href="">
						<i class="fas fa-cog"></i>
					</a>
				</div>
				<div class="pl-3 pr-3">
					<div class="scroll" id="cctvSegmentedImage" >
						<img class="m-1" src="{% static 'cctv_images\viz_evaluate0.png' %}">
						<img class="m-1" src="{% static 'cctv_images\viz_evaluate1.png' %}">
						<img class="m-1" src="{% static 'cctv_images\viz_evaluate2.png' %}">
						<img class="m-1" src="{% static 'cctv_images\viz_evaluate3.png' %}">
						<img class="m-1" src="{% static 'cctv_images\viz_evaluate4.png' %}">
						<img class="m-1" src="{% static 'cctv_images\viz_evaluate5.png' %}">
						<img class="m-1" src="{% static 'cctv_images\viz_evaluate6.png' %}">
						<img class="m-1" src="{% static 'cctv_images\viz_evaluate7.png' %}">
						<img class="m-1" src="{% static 'cctv_images\viz_evaluate8.png' %}">
						<img class="m-1" src="{% static 'cctv_images\viz_evaluate9.png' %}">
						<img class="m-1" src="{% static 'cctv_images\viz_evaluate10.png' %}">
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- /.cctv image & cctv detail info -->
	<!-- time -->
	<div class="card">
		<div class="card-header">
			<span>오염된 패널 정보</span>
		</div>
		<div class="card-body">
			<div class="row align-items-center">
				<div class="col border-right p-3">
					<small class="text-info text-bold">오염 유형</small>
					<div class="row">
						<h2 class="text-green"><small> 나뭇잎</small></h2>
						<h2 class="text-orange"><small> 흙먼지</small></h2>
					</div>
				</div>
				<div class="col border-right p-3">
					<small class="text-info text-bold">예상 발전 감소량</small>
					<h2>35<small>kWh</small></h2>
				</div>
				<div class="col border-right p-3">
					<small class="text-info text-bold">오염된 패널 수</small>
					<h2>4<small> / 4 개</small></h2>
				</div>
				<div class="col p-3">
					<small class="text-info text-bold">오염 레벨</small>
					<h2 class="text-warning"><small> 경고</small></h2>
				</div>
			</div>
		</div>

	</div>
	<!-- /.time -->
</div>

{% endblock %} 
{% block js %}

{% endblock %}
{% block extra_js %}

<script>
// Vanilla JS
new tempusDominus.TempusDominus(document.getElementById('example'), {
	display: {
		    // display options
		icons: {
			// "icons" or "sprites"
			type: 'icons',
			time: 'fas fa-clock',
			date: 'fas fa-calendar',
			up: 'fas fa-arrow-up fa-xs',
			down: 'fas fa-arrow-down fa-xs',
			previous: 'fas fa-chevron-left',
			next: 'fas fa-chevron-right',
			today: 'fas fa-calendar-check',
			clear: 'fas fa-trash',
			close: 'fas fa-times-circle'
		},
		components: {
			useTwentyfourHour: true,
		},
		sideBySide: true,
		// enable/disable buttons
		buttons: {
        today: true,
      	},
		theme: 'dark'
		
  	},
	stepping: 1,
	defaultDate: new Date(),
	localization: {
		dayViewHeaderFormat: { month: 'long', year: 'numeric' },
	}
});

// jQuery
$('#example').tempusDominus({
  // options here
});
</script>
<script>
    var cctvImage_height;
	var cardHeader_height;
 
    // 페이지 로드시 자동실행
    $(window).ready(function () {
        cctvImage_height = document.getElementById("cctvOriginalImage").offsetHeight;
		cardHeader_height = document.getElementById("cctvSegmentedHeader").offsetHeight;
        document.getElementById("cctvSegmentedImage").style.height = (cctvImage_height - cardHeader_height) +'px';
    });
 
 
    // 화면 리사이즈시 실행
    $(window).resize(function () {
        cctvImage_height = document.getElementById("cctvOriginalImage").offsetHeight;
		cardHeader_height = document.getElementById("cctvSegmentedHeader").offsetHeight;
        document.getElementById("cctvSegmentedImage").style.height = (cctvImage_height - cardHeader_height) +'px';
    });
</script>



{% endblock %}
