{% extends 'home/base.html' %}
{% load static %}
{% block style_sheets %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="{% static 'admin-lte/plugins/tempusdominus-bootstrap-4/js/tempus-dominus-forCCTV.js' %}"></script>
<link rel="stylesheet" href="{% static 'admin-lte/plugins/tempusdominus-bootstrap-4/css/tempus-dominus-forCCTV.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(window).ready(function (){

	})
</script>
{% endblock %}


{% block page_name %}실시간 패널 오염 감지 CCTV{% endblock %}

{% block body_class %}dark-mode{% endblock %} {% block content %}
<div class="container-fluid">
	<!-- CCTV number -->
	<div class="row justify-content-md-center align-items-start mb-2">
			<div class="btn btn-info btn-sm"><i class="fas fa-chevron-left"></i></div>
			<h4 class="font-weight-bold mr-3 ml-3">CCTV 1</h4>
			<div class="btn btn-info btn-sm"><i class="fas fa-chevron-right"></i></div>
	</div>
	<!-- ./CCTV number -->
	<!-- time -->
	<div class="card p-2">
		<div class="row align-items-center">
			<div class="col">
				<input class="form-control clock " id="example" type="text" readonly/>
			</div>
			<div class="col-auto mr-2 ml-2">
				<div class="row mb-1">
					<div class="btn btn-outline-secondary btn-sm"><i class="fas fa-chevron-up"></i></div>
				</div>
				<div class="row">
					<div class="btn btn-outline-secondary btn-sm"><i class="fas fa-chevron-down"></i></div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.time -->
	<!-- cctv image & cctv segmentation -->
	<div class="row">
		<div class="col h-100" >
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">CCTV 화면</h3>
				</div >
				<div class="card-body" >
					<img class="img-fluid card-img" id='cctvOriginalImage' src = "{% static '\cctv_images\PanelImageSample.jpg' %}">
				</div>
			</div>
		</div>
		<div class="col h-100">
			<div class="card" >
				<div class="card-header">
					<h3 class="card-title">패널 상세보기</h3>
				</div>
				<div class="card-body">
					<div class="scroll" style="overflow-x: hidden" id="cctvSegmentedImages" >
						<div class="row">
							{% for db_dic in db_dics %}
							<div cLass = "col-xl-6 ">
								<div class="card d-flex " id= "PanelCard_{{db_dic.num}}" onmouseover='CardMouse("{{db_dic.num}}", -1)' onmouseout='CardMouse(-1,"{{db_dics|length}}")' >
									<div class="card-header">
										<h3 class="card-title">Panel {{db_dic.num}}</h3>
										<a class="float-right text-white" href="crop/{{db_dic.num}}/">
											<i class="fas fa-cog"></i>
										</a>
									</div>
									<div class="card-body">
										<!-- <img class="m-1" src = "seg_screen_frame/{{pt.loc}}/"> -->
										<img class="m-1 img-fluid card-img" src = "{{db_dic.src}}/">
									</div>
									<div class="card-footer text-center">
										오염 면적: {{db_dic.score}} %
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<p class="value"></p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- /.cctv image & cctv segmentation -->
	<!-- cctv detail info -->
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">오염된 패널 정보</h3>
				</div>
				<!-- status 정보 나타내는 부분-->
				<div class="row card-body">
					{% include 'cctv/components/status_box.html' %}
				</div>
	
			</div>
		</div>
	</div>
	<!-- /.cctv detail info -->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">경고</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
				<p>
					오염 범위가 <span class="segPer"></span>% 입니다.
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<a href="{% url 'cctv:cctv' %}" class="btn btn-info" role="button">More info</a>
			</div>
		</div>
		</div>
	</div>

</div>

{% endblock %} 
{% block extra_js %}

<script>
// Vanilla JS
	new tempusDominus.TempusDominus(document.getElementById('example'), {
		display: {
				// display options
			icons: {
				// "icons" or "sprites"
				type: 'icons',
				time: 'fas fa-clock',
				date: 'fas fa-calendar',
				up: 'fas fa-arrow-up fa-xs',
				down: 'fas fa-arrow-down fa-xs',
				previous: 'fas fa-chevron-left',
				next: 'fas fa-chevron-right',
				today: 'fas fa-calendar-check',
				clear: 'fas fa-trash',
				close: 'fas fa-times-circle'
			},
			components: {
				useTwentyfourHour: true,
			},
			sideBySide: true,
			// enable/disable buttons
			buttons: {
			today: true,
			},
			theme: 'dark'
			
		},
		stepping: 1,
		defaultDate: new Date(),
		localization: {
			dayViewHeaderFormat: { month: 'long', year: 'numeric' },
	}
});

// jQuery
$('#example').tempusDominus({
  // options here
});
</script>

<script>
    let cctvImage_height;
	let cctvOriginalImage = document.getElementById("cctvOriginalImage")
	let cctvSegmentedImages = document.getElementById("cctvSegmentedImages")

	let test = document.getElementById("test")
	
 
    // 페이지 로드시 자동실행
    $(window).ready(function () {

		// CCTV화면 카드와 패널 상세보기 카드 높이 맞추기
        cctvImage_height = cctvOriginalImage.offsetHeight;
        cctvSegmentedImages.style.height = cctvImage_height +'px';

    });

    // 화면 리사이즈시 실행
    $(window).resize(function () { 
		// CCTV화면 카드와 패널 상세보기 카드 높이 맞추기
        cctvImage_height = cctvOriginalImage.offsetHeight;
        cctvSegmentedImages.style.height = cctvImage_height+'px';
    });


	function CardMouse(Num, Length){
		let num = Number(Num)
		let num_length = Number(Length)

		if (num == -1){
			cctvOriginalImage.src = "{% static '\cctv_images\PanelImageSample.jpg' %}"
			for(let i =1; i<num_length+1 ; i++){
				document.getElementById(`PanelCard_${i}`).classList.remove("border", "border-info")
			}
		}else{
			document.getElementById(`PanelCard_${num}`).classList.add("border", "border-info")
			cctvOriginalImage.src = `/static/cctv_images/11result_${num}.png`
			
		}

	}
</script>




{% endblock %}
