{% extends 'home/base.html' %}
{% load static %}
{% block style_sheets %}
<!-- Jcrop-->
<link rel="stylesheet" type="text/css" href="{% static 'admin-lte\plugins\cropper\cropper.min.css' %}">
{% endblock %}
{% block page_name %}CCTV 1 - Panel {{num}} 좌표 설정 {% endblock %}
{% block body_class %}dark-mode{% endblock %}
{% block content %}
<!-- Main content -->

<div class="row justify-content-md-center mb-3">
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <div id= "result" class="img-container">
                    <img id="cctvImage" src="{% static '\cctv_images\PanelImageSample.jpg' %}" class="card-img" alt="Picture" onClick="selectLoc()"  >
                    <!--  draggable="true" onmousedown="mouseDown()" onmouseup="mouseUp()" onmousemove="mouseMove()" -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">패널 좌표 설정</h3>
            </div >
            <div class="card-body">
                <div>
                    <ul>
                        <li>좌측상단 : <span id="coor0"></span></li>
                        <li>우측상단 : <span id="coor1"></span></li>
                        <li>우측하단 : <span id="coor2"></span></li>
                        <li>좌측하단 : <span id="coor3"></span></li>
                    </ul>
                </div>
                <div class="img-container">
                    <img id="cctvImagePreiew" src=""  class="card-img" >
                </div>
            </div>
            <div class="card-footer" id= "btns" style="visibility: hidden">
                <div class="row text-center">
                    <div class="col border-right" id="prebtn" onclick="crop()">
                        <a class="text-light" >미리보기</a>
                    </div>
                    <div class="col" id="savebtn" >
                        <a class="text-light" onclick="CropLocSave()" href="{% url 'cctv:cctv' %}">저장하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- /.content -->
{% endblock %}


{% block extra_js %}
<script>
    let cctvImage = document.getElementById("cctvImage")
    let cctvImagePreiew = document.getElementById("cctvImagePreiew")

    let result = document.getElementById("result")

    let srcQuad = [[0,0],[0,0],[0,0],[0,0]]
    let srcQuadString = ""

    
    let locPoint = '{{loc}}'.replace(/[()]/g,"").split(',')
    for(let i =0; i<4; i++){
        for(let j =0; j<2; j++){
            srcQuad[i][j] = Number(locPoint[i*2+j])
        }
    }

    function srcQuadtoString(){
        srcQuadString = ""
        for (var i = 0; i < srcQuad.length; i++) {
            srcQuadString = srcQuadString+"("+srcQuad[i][0]+","+srcQuad[i][1]+"),"
        }
    }

    function ImageUpdate() {
        $.ajax({
            type: 'GET',
            url: "{% url 'cctv:cropper_preview' %}", // data를 전송할 url 입니다.
            data: {"pt" : srcQuadString}, 
            success: function (response) { // ajax 통신이 정상적으로 완료되었을 때
                let time 	= new Date().getTime();	// 이미지 새로고침을 위한 랜덤 값
                $('#cctvImage').attr('src', "/static/"+response.img_src +'?time=' + time)
                $('#cctvImagePreiew').attr('src', "/static/"+response.crop_img_src+'?time=' + time)
                
            }
        })
    }

    function crop(){
        srcQuadtoString()
        ImageUpdate()
    }

    crop()

    let clickcnt = 0

    let coors = []
    for(let i =0; i<4 ; i++){
        coors.push(document.getElementById(`coor${i}`))
    }

    const savebtn = document.getElementById("savebtn")
    const prebtn = document.getElementById("prebtn")
    const btns = document.getElementById("btns")
    
    function selectLoc(){
        naturalWidth = cctvImage.naturalWidth
        curWidth = cctvImage.width
        
        ratio = naturalWidth/curWidth

        x = parseInt(event.offsetX*ratio)
        y = parseInt((event.offsetY)*ratio)

        for (let i = 0; i<4; i++){
            if (clickcnt%4 == i){

                coors[i].innerHTML = "( x : "+ x + "/ y : " + y +" )"
                srcQuad[i]=[x,y]

                if(i == 0){
                    coors[1].innerHTML = ""
                    coors[2].innerHTML = ""
                    coors[3].innerHTML = ""
                    btns.style.visibility = 'hidden'
                }else if(i ==3){
                    btns.style.visibility = 'visible'
                }
                break

            }
        }
        clickcnt += 1
    }

    function CropLocSave(){
        srcQuadtoString()
        $.ajax({
            type: 'GET',
            url: "{% url 'cctv:cropper_save' %}", // data를 전송할 url 입니다.
            data: {"num" : `{{num}}`, "pt" : srcQuadString}, 
        })
    }

    function testalert(){
        alert("현재 좌표는 " + event.offsetX + "/" + event.offsetY)
    }

</script>
{% endblock %} 
