{% extends 'home/base.html' %}
{% block body_class %} dark-mode {% endblock %}
{% block page_name %} 알림 {% endblock %}
{% block content %}
<div class = "row ">
    <div class = "col-lg-5">
        <div class = "card h-100-auto">
            <div class = "card-header">
                <h3 class = "card-title">
                    확인하지 않은 알림
                </h3>
            </div>
            <div class = "card-body " >
                <div class = "alarm-timeline-scroll" >
                    {% for now in nows %}
                    <div class="small-box {{now.color}}">
                        <div class="inner">
                            <h5 class = "alert-heading text-bold">{{now.title}}</h5>
                            <p>{{now.content}}</p>
                        </div>
                        <div class="icon">
                            <i class="icon {{now.icon_class}}"></i>
                        </div>
                        {% if now.more_info %}
                        <a href="{{now.herf}}" class="small-box-footer p-2">
                            더보기 
                            <i class="fas fa-arrow-circle-right ml-1"></i>
                        </a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class = "col">
        <div class = "card h-100">
            <div class = "card-header">
                <h3 class="card-title">
                    알림 타임라인
                </h3>
            </div>
            <div class = "card-body" style="height: 600px;">
                <div class = "alarm-timeline-scroll" >
                    {% include 'alarm/timeline.html'%}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
