{% extends 'home/base.html' %}
{% block body_class %}dark-mode{% endblock %}
{% block page_name %} 발전현황 {% endblock %}
{% block content %}

<div class="row mb-3">
  <section class = "col-lg-5 connectedSortable ui-sortable">
    {% include 'pow_gen/components/weather_module.html' %}
  </section>
  <section class = "col-lg-7 connectedSortable ui-sortable">
    <div class="card h-100">
      <div class="card-header">
          <h3 class="card-title">발전 현황</h3>
      </div>
      <!-- status 정보 나타내는 부분 -->
      <div class="row card-body">
          {% include 'pow_gen/components/status_box.html' %}
      </div>
    </div>
  </section>
</div>
<div class = "row">
  <section class = "col-lg-12 connectedSortable ui-sortable">
    {% include 'pow_gen/components/generation_graph.html' %}
  </section>
</div>

{% endblock %}