{% load static %}
    <div class="card">
        <div class = "card-header">
            <h3 class = "card-title">
                발전량 그래프
            </h3>
            <div class = "card-tools">
                <button type="button" class = "btn btn-tool">
                    최근 12시간
                </button>
            </div>
        </div>
        <div class = "card-body">
            <div class = "chart">
                <canvas id ="lineChart" height="363px"></canvas> 
                <!-- 바꿀예정 -->
            </div>
        </div>
    </div>
<script src="../../../../static/admin-lte/plugins/jquery/jquery.min.js"></script>
<script src="../../../../static/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../../../static/admin-lte/plugins/chart.js/Chart.min.js"></script>
<script src="../../../../static/admin-lte/plugins/jquery/jquery.min.js"></script>
<script>
    let data2 = JSON.parse("{{ datas|escapejs }}");

    for (let i = 0; i < data2.length; i++) {
        // data2[i]['날짜 (년월일)'] = data2[i]['dt']
        // data2[i]['시간 (시)'] = data2[i]['dt_hour']
        n1 = parseFloat(data2[i]['dc_kw1'])
        n2 = parseFloat(data2[i]['dc_kw2'])
        n3 = parseFloat(data2[i]['dc_kw3'])
        data2[i]['kw'] = (n1 + n2 + n3).toFixed(3)
    }

    for (let i = 0; i < data2.length; i++) {
        delete data2[i].dt
        delete data2[i].dt_hour
        delete data2[i].dc_kw1
        delete data2[i].dc_kw2
        delete data2[i].dc_kw3
    }

    var new_data2 = [];
    for (let i = data2.length-12; i < data2.length; i++) {
        new_data2.push(Object.values(data2[i]))
    }

    let data3 = JSON.parse("{{ datas|escapejs }}");

    for (let i = 0; i < data2.length; i++) {
        delete data3[i].dt
        delete data3[i].dc_kw1
        delete data3[i].dc_kw2
        delete data3[i].dc_kw3
    }

    var time = [];
    for (let i = data3.length-12; i < data3.length; i++) {
        time.push(Object.values(data3[i]) + '시')
    }

    $(function () {

        var lineChartCanvas = $('#lineChart').get(0).getContext('2d')
        
        var lineChartData = {
        labels  : time, 
        // ['1시', '2시', '3시', '4시', '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시'],
        datasets: [
            {
            label               : '실제 발전량',
            fill                : false,
            backgroundColor     : 'rgba(60,141,188,1)',
            borderColor         : 'rgba(60,141,188,1)',
            pointRadius          : false,
            pointColor          : '#3b8bba',
            pointStrokeColor    : 'rgba(60,141,188,1)',
            pointHighlightFill  : '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            pointStyle:'circle', //포인터 스타일 변경
            pointBorderWidth: 2, //포인터 보더사이즈
            pointRadius:6, //포인터 반경 범위 
            pointBorderColor:'#3b8bba',//포인터 보더 색상
            data                : new_data2.flat()
            },
        ]
        }

        var lineChartOptions = {
        maintainAspectRatio : false,
        responsive : true,
        legend: {
            display: true,
            position : 'bottom',
            align : 'end',
            labels: {
                fontColor : "white"
            }
        },
        scales: {
            xAxes: [{
            gridLines : {
                display : false,
            }
            }],
            yAxes: [{
					ticks: {
						min: 0,
						max: 800,
						fontSize : 14,
					}
				}]
        }
        }

        new Chart(lineChartCanvas, {
        type: 'line',
        data: lineChartData,
        options: lineChartOptions
        })
    })
</script>