{%load static %}
<div class="card">
    <div class = "card-header">
        <h3 class = "card-title">
            발전량 데이터
        </h3>
    </div>
    <div class = "card-body">

<div id="jsGrid"></div>
<div id="externalPager" class="text-center text-white"></div>


<script src="/static/admin-lte/plugins/jquery/jquery.min.js"></script>
<script src="/static/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/admin-lte/plugins/jsgrid/demos/db.js"></script>
<script src="/static/admin-lte/plugins/jsgrid/jsgrid.min.js"></script>
<script src="/static/admin-lte/dist/js/demo.js"></script>
<script src="/static/admin-lte/dist/js/adminlte.min.js"></script>
<script src="/static/admin-lte/dist/js/adminlte.min.js"></script> 

<script>

    // let data = JSON.parse("{{ table_datas|escapejs }}"); //json형식으로 받은 데이터를 javascript에 넣을 때 써야함.
    let data = JSON.parse("{{ datas|escapejs }}");

    for (let i = 0; i < data.length; i++) {
        data[i]['날짜 (년월일)'] = data[i]['dt']
        data[i]['시간 (시)'] = data[i]['dt_hour']
        n1 = parseFloat(data[i]['dc_kw1'])
        n2 = parseFloat(data[i]['dc_kw2'])
        n3 = parseFloat(data[i]['dc_kw3'])
        data[i]['시간당 발전량 (kw)'] = (n1 + n2 + n3).toFixed(3)
    }

    for (let i = 0; i < data.length; i++) {
        delete data[i].dt
        delete data[i].dt_hour
        delete data[i].dc_kw1
        delete data[i].dc_kw2
        delete data[i].dc_kw3
    }

    var new_data = [];
    for (let i = data.length-12; i < data.length; i++) {
        new_data.push(data[i])
    }

    let fields = [] 
    for (key in new_data[0]){
        fields.push({name : key})
    }
    
    $(function () {
        $("#jsGrid").jsGrid({ //TODO : jsgrid 사용법 익히고 꾸미기
            locale:"ko",
            width: "100%",
            height: '325px',

            autoload: true, //데이터 변경, 추가, 삭제대하여 자동으로 로드되게 함
            paging: true,
            
            pageSize: 8, //화면에 나타날 기본 줄수
            pageButtonCount: 5,
            pagerContainer: "#externalPager",
            pagerFormat: "{first} {prev} {pages} {next} {last} &nbsp;&nbsp; {pageIndex} / {pageCount}",
            pagePrevText: "<i class='fas fa-chevron-left'></i>",
            pageNextText: "<i class='fas fa-chevron-right'></i>",
            pageFirstText: "<i class='fas fa-chevron-left'></i><i class='fas fa-chevron-left'></i>",
            pageLastText: "<i class='fas fa-chevron-right'></i><i class='fas fa-chevron-right'></i>",
            pageNavigatorNextText: "&#8230;",
            pageNavigatorPrevText: "&#8230;",

            
            data: new_data, // 데이터를 받아서 
            fields: fields, // 그리드 헤더 부분에 넣기 위해서 필드 지정
        })
    })
</script>

</div>
</div>