{% load static %}

<div class="card">
    <div class = "card-header">
        <h3 class = "card-title">
            발전 현황
        </h3>
    </div>
    <div class="card-body row">
        <div class="col border-right">
            <div class="info-box shadow-none">
                <div class="info-box-content">
                    <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                    <small class = "info-box-text text-black text-bold">현재 날짜</small>
                    <span class = "info-box-number">
                        <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                        <div style="width:220px; height:37px; float:left;margin-top: 11px; margin-left: 0px; margin-right: 10px; margin-bottom: 0px;">
                            <h4 id = "today" ></h4> </div>
                        <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                    </span>
                </div><!-- info-box text-->
                <span class="info-box-icon rounded-circle bg-info elevation-1">
                    <i class="fas fa-calendar-alt"></i>
                </span>
            </div><!-- /.info-box -->
        </div>
        <div class="col border-right">
            <div class="info-box shadow-none">
                <div class="info-box-content">
                    <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                    <small class = "info-box-text text-black text-bold">현재 발전량</small>
                    <span class = "info-box-number">
                        <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                         672
                        <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                        <small>kW</small>
                    </span>
                </div><!-- info-box text-->
                <span class="info-box-icon rounded-circle bg-info elevation-1">
                    <i class="fas fa-bolt"></i>
                </span>
            </div><!-- /.info-box -->
        </div>
        <div class="col">
            <div class="info-box shadow-none">
                <div class="info-box-content">
                    <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                    <small class = "info-box-text text-black text-bold">발전 시간</small>
                    <span class = "info-box-number">
                        <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                         10
                        <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                        <small>시간</small>
                    </span>
                </div><!-- info-box text-->
                <span class="info-box-icon rounded-circle bg-info elevation-1">
                    <i class="fas fa-clock"></i>
                </span>
            </div><!-- /.info-box -->
        </div>
    </div>
    <div class="card-body row">
        <div class="col border-right">
            <div class="info-box shadow-none">
                <div class="info-box-content">
                    <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                    <small class = "info-box-text text-black text-bold">현재 시간</small>
                    <span class = "info-box-number">
                        <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                        <div style="width:220px; height:67px; float:left;margin-top: 11px; margin-left: 0px; margin-right: 10px; margin-bottom: -30px;">
                            <h4 id = "todayclock" ></h4> </div>
                        <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                    </span>
                </div><!-- info-box text-->
                <span class="info-box-icon rounded-circle bg-info elevation-1">
                    <i class="fas fa-clock"></i>
                </span>
            </div><!-- /.info-box -->
        </div>
        <div class="col border-right">
            <div class="info-box shadow-none">
                <div class="info-box-content">
                    <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                    <small class = "info-box-text text-black text-bold">누적 발전량</small>
                    <span class = "info-box-number">
                        <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                         3,000
                        <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                        <small>MWh</small>
                    </span>
                </div><!-- info-box text-->
                <span class="info-box-icon rounded-circle bg-info elevation-1">
                    <i class="fas fa-solar-panel"></i>
                </span>
            </div><!-- /.info-box -->
        </div>
        <div class="col">
            <div class="info-box shadow-none">
                <div class="info-box-content">
                    <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                    <small class = "info-box-text text-black text-bold">수익</small>
                    <span class = "info-box-number">
                        <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                         79,000
                        <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                        <small>원</small>
                    </span>
                </div><!-- info-box text-->
                <span class="info-box-icon rounded-circle bg-info elevation-1">
                    <i class="fas fa-money-bill-alt"></i>
                </span>
            </div><!-- /.info-box -->
        </div>
    </div>
</div>



<script>
    const Cl = document.getElementById("today")

    function getCl () {

        var mydate = new Date()
        var year = mydate.getFullYear()
        var month = mydate.getMonth() +1
        var date = mydate.getDate()
        
        var blank = "&nbsp"
        for (i = 0; i<2;i++){
            blank += blank
        }

        month = String(month).padStart(2, "0")
        date = String(date).padStart(2, "0")

        Cl.innerHTML = year + "년 " + month + "월 " + date + "일"
    }

    getCl();
    setInterval ( getCl , 1000 );
</script>


<script>
    const Cl2 = document.getElementById("todayclock")

    function getCl2 () {

        var mydate = new Date()
        var hour = mydate.getHours()
        var minute = mydate.getMinutes()
        var second = mydate.getSeconds()
        
        var blank = "&nbsp"
        for (i = 0; i<2;i++){
            blank += blank
        }

        var ampm = hour >= 12? "오후" : "오전"
        hour = hour %12
        hour = hour ? hour : 12

        hour = String(hour).padStart(2, "0")
        minute = String(minute).padStart(2, "0")
        second = String(second).padStart(2, "0")

        Cl2.innerHTML = ampm + ' ' + hour + "시 " + minute + "분 " + second + "초" 
    }

    getCl2();
    setInterval ( getCl2 , 1000 );
</script>