{% load static %}
{% for status in status_box %}
<div class="col-12 col-lg-4  d-flex " >
    <div class="info-box info-box shadow-none">
        <div class="info-box-content border-left">
            <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
            <small class = "info-box-text text-black text-bold">
                {{status.title}}
            </small>
            <span class = "info-box-number" id="{{status.id}}">
                <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                {{status.value}}
                <!-- DB에서 어떤 값을 불러오는 지에 따라 바뀌어야 함-->
                <small>{{status.unit}}</small>
            </span>
        </div><!-- info-box text-->
        <span class="info-box-icon rounded-circle bg-info elevation-1">
            <i class="{{status.icon_class}}"></i>
        </span>
    </div><!-- /.info-box -->
</div>
{% endfor %}

<script>

    let data4 = JSON.parse("{{ datas|escapejs }}");
    
    pow = (parseFloat(data4[data4.length-1]['dc_kw1']) + parseFloat(data4[data4.length-1]['dc_kw2']) + parseFloat(data4[data4.length-1]['dc_kw3'])) + parseFloat(data4[data4.length-1]['dc_kw4'])
    pow = pow.toFixed(3)
    const Cl3 = document.getElementById("power")
    Cl3.innerText = pow + ' kw'

</script>

<script>

    let data5 = JSON.parse("{{ datas|escapejs }}");
    var mydate = new Date()
    var year = mydate.getFullYear()
    var month = mydate.getMonth() +1
    var date = mydate.getDate()
    d = String(year) + "-" + String(month).padStart(2, "0") + "-" + String(date).padStart(2, "0")
    var index = data5.findIndex(e => e.dt === d);
    t = 0
    for (let i = 0; i < data5.length; i++) {
        if (data5[i]['dt'] == d & data5[i]['dt_hour'] >= 6 & data5[i]['dt_hour'] <= 21)
            data5[i]['actual'] = parseFloat(data5[i]['dc_kw1'])+ parseFloat(data5[i]['dc_kw2']) + parseFloat(data5[i]['dc_kw3']) + parseFloat(data5[i]['dc_kw4'])
        if (data5[i]['dt'] == d & data5[i]['dt_hour'] < 6 | data5[i]['dt_hour'] > 21)
            data5[i]['actual'] = 0
            // 변경할수도 있는 부분
    }
    data5.splice(0, index + 6)
    hap = 0
    t = 0
    for (let i = 0; i < data5.length; i++) {
        hap += data5[i]['actual']
        t ++
    }
    const Cl4 = document.getElementById("time")
    Cl4.innerText = (t) + " 시간"
    const Cl5 = document.getElementById("happower")
    Cl5.innerText = hap.toFixed(3) + " kw"

</script>

<script>
    const Cl = document.getElementById("today")

    function getCl () {

        var mydate = new Date()
        var year = mydate.getFullYear()
        var month = mydate.getMonth() +1
        var date = mydate.getDate()
        
        var blank = "&nbsp"
        for (i = 0; i<2;i++){
            blank += blank
        }

        month = String(month).padStart(2, "0")
        date = String(date).padStart(2, "0")

        Cl.innerHTML = year + ". " + month + "." + date + "."
    }

    getCl();
    setInterval ( getCl , 1000 );
</script>


<script>
    const Cl2 = document.getElementById("todayclock")

    function getCl2 () {

        var mydate = new Date()
        var hour = mydate.getHours()
        var minute = mydate.getMinutes()
        var second = mydate.getSeconds()
        
        var blank = "&nbsp"
        for (i = 0; i<2;i++){
            blank += blank
        }

        var ampm = hour >= 12? "PM " : "AM "
        hour = hour %12
        hour = hour ? hour : 12

        hour = String(hour).padStart(2, "0")
        minute = String(minute).padStart(2, "0")
        second = String(second).padStart(2, "0")

        Cl2.innerHTML = ampm + hour + ":" + minute + ":" + second
    }

    getCl2();
    setInterval ( getCl2 , 1000 );
</script>